node_modules
venv/*
node_modules
.env
python\ scripts/tests.py
tests/
hardhat/hardhat.config.js

__pycache__/

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
